@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto", sans-serif;
    --primary-color: #f87060;
    --primary-color-hover: #f87060;
    --secondary-color: #102542;
    --secondary-color-hover: #102542;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    @apply transition ease-in-out duration-500;
}

.rajdhani {
    font-family: "Rajdhani", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4d4d4d;
    @apply body-bg;
}

.body-margin {
    @apply px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8;
}

.body-bg {
    background-color: #ffffff;
}

.link {
    @apply text-primary-color font-bold hover:text-primary-color-hover;
}

.text-shadow {
    text-shadow: 2px 2px 1.5rem black;
}

.blinds {
    @apply hidden md:inline-block w-auto h-auto cursor-pointer;
}

.blinds-collapse {
    @apply inline-block md:hidden w-auto h-auto cursor-pointer border-none;
}

.nav-fixed-bottom {
    @apply fixed bottom-4 right-4 md:bottom-8 md:right-8 z-40 flex flex-col gap-4 items-center justify-between w-12 md:w-16 overflow-hidden;
}

.nav-fixed-bottom * {
    @apply opacity-50 hover:opacity-100 cursor-pointer text-white;
}

.nav-move-top {
    @apply flex items-center justify-center text-lg rounded w-12 h-12 bg-black;
}

.menu-item {
    @apply block py-2 lg:py-0 pl-3 lg:pl-0 pr-4 lg:pr-0 lg:mr-6 uppercase;
}

.site-title-container {
    @apply flex flex-col gap-2 justify-center w-auto mx-auto items-center bg-white h-48;
}

.site-title {
    @apply rajdhani tracking-wide text-6xl text-black w-full mx-auto uppercase body-margin text-center;
}

.posts-list-container {
    grid-auto-flow: dense;
    @apply grid gap-16 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full;
}

.post-card {
    @apply overflow-hidden bg-white shadow-lg border text-center self-start;
}

.post-card-title {
    @apply inline-block mb-3 text-2xl leading-5 text-primary-color hover:text-primary-color-hover;
}

.post-card-category {
    @apply text-gray-600;
}

.post-card-desc {
    @apply mb-2 text-gray-700 text-ellipsis;
}
